
.App {
  text-align: center;
  padding: 20px;
}

form input {
  margin: 5px;
}

form button {
  padding: 5px 10px;
  margin-top: 10px;
}

button {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #f4f4f4;
}

button {
  cursor: pointer;
}
